{% extends "base.html.twig" %}

{% block title %}Emojis Stats{% endblock title %}

{% block stylesheets %}
<style>
div.container {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
div.card {
    margin: 1rem 0;
}
</style>
{% endblock stylesheets %}

{% block content %}
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p>Last update: <span id="update">{{ date|date('H:i') }}</span></p>
        </div>
    </div>
{% for quarto in emojis|batch(4) %}
    <div class="row card-deck">
    {% for emoji in quarto %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
    <div class="card border-info bg-transparent">
        <div class="card-header bg-transparent border-info">
            :<span class="emoji-name">{{ emoji.1 }}</span>:
        </div>
        <div class="card-body bg-transparent">
            <img class="card-img emoji-img" src="{{ emoji.2 }}" alt="{{ emoji.1 }}">
        </div>
        <div class="card-footer bg-transparent border-info">
            <small>Nombre: <span class="emoji-count">{{ emoji.0 }}</span></small>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
{% endfor %}
</div>
</body>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
