{% extends "base.html.twig" %}

{% block title %}Emojis Stats{% endblock title %}

{% block content %}
<body class="bg-light">
<div class="container" style="margin-top: 1rem; margin-bottom: 3rem;">
    <div class="row">
        <div class="col-12 text-center">
            <p>Last update: <span id="update">{{ date|date('H:i') }}</span></p>
        </div>
    </div>
{% for quarto in emojis|batch(4) %}
    <div class="row card-deck">
    {% for emoji in quarto %}
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
    <div class="card border-info bg-transparent" style="margin: 1rem 0;">
        <div class="card-header bg-transparent border-info">
            :<span class="emoji-name">{{ emoji.name }}</span>:
        </div>
        <div class="card-body bg-transparent">
            <img class="card-img emoji-img" src="{{ emoji.url }}" alt="{{ emoji.name }}">
        </div>
        <div class="card-footer bg-transparent border-info">
            <small>Nombre: <span class="emoji-count">{{ emoji.count }}</span></small>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
{% endfor %}
</div>
</body>
{% endblock content %}
