{% extends "base.html.twig" %}

{% block title %}Emojis Stats{% endblock title %}

{% block stylesheets %}
<style>
div.container {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
div.card {
    margin: 1rem 0;
}
img.emoji {
    height: 1.5em;
    min-width: 1.5em;
}
.badge {
    min-width: 4em;
}
</style>
{% endblock stylesheets %}

{% block content %}
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <p>Last update: <span id="update">{{ date|date('H:i') }}</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="chart-emojis" width="100" height="40"></canvas>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="list-group" style="margin-top: 1rem;">
                {% for emoji in emojis %}
                <a href="#"
                    onclick="fetchEmojisTop('{{ emoji.1 }}')"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    >
                    <img src="{{ emoji.2 }}" class="emoji" alt="">
                    <code>:{{ emoji.1 }}:</code>
                    <span class="badge badge-secondary badge-pill">{{ emoji.0 }}</span>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
{% endblock content %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<link rel="modulepreload" href="/chartoptions.js"></link>
<link rel="modulepreload" href="/colors.js"></link>
<link rel="modulepreload" href="/stats.js"></link>
<script type="module" src="/stats.js"></script>
{% endblock scripts %}
